__Описание источников данных:__

* train.csv - пары "заявка - целевая переменная", для этой выборки нужно собрать признаки и обучить модель;
* test.csv - пары "заявки - прогнозное значение", для этой выборки нужно собрать признаки и построить прогнозы;
* bki.csv - данные БКИ о предыдущих кредитах клиента;
* client_profile.csv - клиентский профиль, некоторые знания, которые есть у компании о клиенте;
* payments.csv - история платежей клиента;
* applications_history.csv - история предыдущих заявок клиента.

In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

import seaborn as sns

import catboost as cb
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split, KFold

from typing import List, Optional

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

print("train.shape = {} rows, {} cols".format(*train.shape))
print("test.shape = {} rows, {} cols".format(*test.shape))

train.shape = 110093 rows, 3 cols
test.shape = 165141 rows, 2 cols

__train.csv__

In [3]:
train.head()

   APPLICATION_NUMBER  TARGET NAME_CONTRACT_TYPE
0           123687442       0               Cash
1           123597908       1               Cash
2           123526683       0               Cash
3           123710391       1               Cash
4           123590329       1               Cash

Номер заявки уникальный идентификатор в таблице

In [4]:
train["APPLICATION_NUMBER"].nunique()

110093

In [5]:
train["APPLICATION_NUMBER"].min()

123423341

In [6]:
train["APPLICATION_NUMBER"].max()

123730843

In [7]:
123730843-123423341

307502

In [8]:
train["NAME_CONTRACT_TYPE"].nunique()

2

In [9]:
train["NAME_CONTRACT_TYPE"].value_counts()

Cash           99551
Credit Card    10542
Name: NAME_CONTRACT_TYPE, dtype: int64

In [10]:
train["TARGET"].value_counts()

0    101196
1      8897
Name: TARGET, dtype: int64

__test.csv__

In [11]:
test.head()

   APPLICATION_NUMBER NAME_CONTRACT_TYPE
0           123724268               Cash
1           123456549               Cash
2           123428178        Credit Card
3           123619984               Cash
4           123671104               Cash

Номер заявки уникальный идентификатор в таблице

In [12]:
test["APPLICATION_NUMBER"].nunique()

165141

In [13]:
test["APPLICATION_NUMBER"].min()

123423342

In [14]:
test["APPLICATION_NUMBER"].max()

123730851

In [15]:
123730851-123423342

307509

In [16]:
test["NAME_CONTRACT_TYPE"].value_counts()

Cash           149432
Credit Card     15709
Name: NAME_CONTRACT_TYPE, dtype: int64

In [17]:
set(test["APPLICATION_NUMBER"]) & set(train["APPLICATION_NUMBER"])

set()

__bki.csv__

In [18]:
bki = pd.read_csv("bki.csv")
print("bki.shape = {} rows, {} cols".format(*bki.shape))

bki.shape = 945234 rows, 17 cols

In [19]:
bki.head()

,APPLICATION_NUMBER,BUREAU_ID,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,123538884,5223613,Active,currency 1,718.0,0,377.0,NaN,19386.81,0,675000.00,320265.495,0.0,0.0,Consumer credit,39.0,NaN
1,123436670,6207544,Closed,currency 1,696.0,0,511.0,511.0,0.00,0,93111.66,0.000,0.0,0.0,Consumer credit,505.0,NaN
2,123589020,6326395,Closed,currency 1,165.0,0,149.0,160.0,NaN,0,36000.00,0.000,0.0,0.0,Consumer credit,150.0,0.0
3,123494590,6606618,Active,currency 1,55.0,0,310.0,NaN,NaN,0,38664.00,37858.500,NaN,0.0,Consumer credit,15.0,NaN
4,123446603,5046832,Active,currency 1,358.0,0,35.0,NaN,NaN,0,67500.00,0.000,0.0,0.0,Credit card,116.0,NaN

In [20]:
bki["APPLICATION_NUMBER"].nunique()

273131

In [21]:
bki["APPLICATION_NUMBER"].value_counts()

123444199    63
123493043    51
123641404    50
123603494    39
123604794    36
             ..
123465619     1
123459476     1
123449243     1
123756771     1
123734017     1
Name: APPLICATION_NUMBER, Length: 273131, dtype: int64

In [22]:
bki["CREDIT_ACTIVE"].value_counts()

Closed      594315
Active      347323
Sold          3583
Bad debt        13
Name: CREDIT_ACTIVE, dtype: int64

In [23]:
bki[bki["APPLICATION_NUMBER"]==123604794]

,APPLICATION_NUMBER,BUREAU_ID,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
2441,123604794,5022625,Closed,currency 1,276.0,0,214.0,234.0,NaN,0,36000.00,0.000,NaN,0.0,Consumer credit,234.0,NaN
25276,123604794,5026176,Closed,currency 1,515.0,0,454.0,486.0,NaN,0,40500.00,0.000,NaN,0.0,Consumer credit,486.0,NaN
26902,123604794,5095767,Closed,currency 1,663.0,0,602.0,640.0,NaN,0,18000.00,0.000,NaN,0.0,Consumer credit,640.0,NaN
62594,123604794,5079117,Active,currency 1,220.0,0,26.0,NaN,0.0,0,67765.50,19903.500,0.0,0.0,Consumer credit,10.0,10505.7
120928,123604794,5050396,Closed,currency 1,914.0,0,853.0,899.0,NaN,0,13500.00,0.000,NaN,0.0,Consumer credit,899.0,0.0
149705,123604794,5018643,Closed,currency 1,234.0,0,173.0,185.0,NaN,0,40500.00,0.000,NaN,0.0,Consumer credit,185.0,0.0
150803,123604794,5066395,Closed,currency 1,821.0,0,762.0,797.0,NaN,0,27000.00,0.000,NaN,0.0,Consumer credit,797.0,0.0
187962,123604794,5026552,Closed,currency 1,30.0,0,NaN,1.0,NaN,0,13500.00,0.000,NaN,0.0,Microloan,1.0,0.0
210264,123604794,5032011,Closed,currency 1,1124.0,0,1063.0,1108.0,NaN,0,4500.00,0.000,NaN,0.0,Consumer credit,1108.0,0.0
219874,123604794,5054762,Closed,currency 1,365.0,0,304.0,346.0,NaN,0,40500.00,0.000,NaN,0.0,Consumer credit,346.0,0.0
265508,123604794,5057975,Closed,currency 1,184.0,0,123.0,177.0,NaN,0,22500.00,0.000,NaN,0.0,Consumer credit,177.0,NaN
266241,123604794,5010336,Closed,currency 1,562.0,0,501.0,556.0,NaN,0,13500.00,0.000,NaN,0.0,Consumer credit,556.0,NaN
284299,123604794,5038351,Closed,currency 1,846.0,0,784.0,836.0,NaN,0,4500.00,0.000,NaN,0.0,Consumer credit,836.0,0.0
335410,123604794,5026629,Closed,currency 1,792.0,0,733.0,766.0,NaN,0,27000.00,0.000,NaN,0.0,Consumer credit,766.0,NaN
362365,123604794,5043428,Closed,currency 1,459.0,0,400.0,423.0,NaN,0,31500.00,0.000,NaN,0.0,Consumer credit,423.0,NaN
378365,123604794,5062053,Closed,currency 1,976.0,0,915.0,955.0,NaN,0,22500.00,0.000,NaN,0.0,Consumer credit,955.0,0.0
379415,123604794,5072199,Closed,currency 1,1064.0,0,1003.0,1053.0,NaN,0,18000.00,0.000,NaN,0.0,Consumer credit,1053.0,0.0
389051,123604794,6162310,Closed,currency 1,1008.0,0,946.0,990.0,NaN,0,22500.00,0.000,NaN,0.0,Consumer credit,990.0,0.0
418994,123604794,5102664,Active,currency 1,220.0,0,26.0,NaN,NaN,0,67760.64,19905.615,NaN,0.0,Consumer credit,24.0,0.0
436466,123604794,5013357,Closed,currency 1,951.0,0,890.0,934.0,NaN,0,9000.00,0.000,NaN,0.0,Consumer credit,934.0,0.0
440084,123604794,5069680,Closed,currency 1,483.0,0,421.0,435.0,NaN,0,36000.00,0.000,NaN,0.0,Consumer credit,435.0,0.0
452449,123604794,5076074,Closed,currency 1,404.0,0,343.0,395.0,NaN,0,31500.00,0.000,NaN,0.0,Consumer credit,395.0,NaN
486896,123604794,5069521,Closed,currency 1,545.0,0,484.0,521.0,NaN,0,40500.00,0.000,NaN,0.0,Consumer credit,521.0,NaN
488985,123604794,5017126,Closed,currency 1,145.0,0,84.0,135.0,NaN,0,9000.00,0.000,NaN,0.0,Consumer credit,135.0,0.0
492239,123604794,5043149,Closed,currency 1,1133.0,0,1072.0,1123.0,NaN,0,4500.00,0.000,NaN,0.0,Consumer credit,1123.0,0.0
494880,123604794,5066469,Closed,currency 1,765.0,0,704.0,738.0,NaN,0,27000.00,0.000,NaN,0.0,Consumer credit,738.0,0.0
578381,123604794,5049994,Closed,currency 1,44.0,0,NaN,1.0,NaN,0,13500.00,0.000,NaN,0.0,Microloan,1.0,0.0
603894,123604794,5102882,Closed,currency 1,556.0,0,495.0,549.0,NaN,0,13500.00,0.000,NaN,0.0,Consumer credit,549.0,0.0
684855,123604794,5083017,Closed,currency 1,581.0,0,520.0,563.0,NaN,0,27000.00,0.000,NaN,0.0,Consumer credit,563.0,0.0
708697,123604794,5101951,Closed,currency 1,838.0,0,776.0,833.0,NaN,0,4500.00,0.000,NaN,0.0,Consumer credit,833.0,NaN
740293,123604794,5103642,Closed,currency 1,732.0,0,671.0,710.0,NaN,0,22500.00,0.000,NaN,0.0,Consumer credit,710.0,NaN
755176,123604794,5012987,Closed,currency 1,375.0,0,314.0,370.0,NaN,0,13500.00,0.000,NaN,0.0,Consumer credit,370.0,0.0
788074,123604794,5019251,Closed,currency 1,614.0,0,553.0,594.0,NaN,0,36000.00,0.000,NaN,0.0,Consumer credit,594.0,NaN
822814,123604794,6176530,Closed,currency 1,20.0,0,NaN,1.0,NaN,0,13500.00,0.000,NaN,0.0,Microloan,1.0,0.0
848922,123604794,5009461,Closed,currency 1,698.0,0,637.0,689.0,NaN,0,18000.00,0.000,NaN,0.0,Consumer credit,689.0,NaN
874261,123604794,5041248,Closed,currency 1,1096.0,0,1035.0,1088.0,NaN,0,4500.00,0.000,NaN,0.0,Consumer credit,1088.0,10505.7

Отношения между таблицей train и bki один ко многим, аналогично test и bki

In [24]:
len(set(test["APPLICATION_NUMBER"]) & set(bki["APPLICATION_NUMBER"]))

126469

In [25]:
len(set(train["APPLICATION_NUMBER"]) & set(bki["APPLICATION_NUMBER"]))

84508

Не все заявки из трейна и теста имеют кредитную историю в бюро кредитных историй. Проверим гипотезу о том, что вероятность не выплаты кредита больше у тех заявок, по которым нет кредитной истории

In [26]:
app_without_bki = set(train["APPLICATION_NUMBER"]) - set(bki["APPLICATION_NUMBER"])

In [27]:
print("Число заявок, по которым нет кредитной истории: {}".format(len(app_without_bki)))

Число заявок, по которым нет кредитной истории: 25585

In [28]:
train[train["APPLICATION_NUMBER"].isin(app_without_bki)]["TARGET"].value_counts()

0    23592
1     1993
Name: TARGET, dtype: int64

Вывод: стоит сделать признак "наличие кредитной истории", если у заявки нет кредитной истории вероятность дефолта по ней 22.4%

__client_profile.csv__

In [29]:
client_profile = pd.read_csv("client_profile.csv")
print("client_profile.shape = {} rows, {} cols".format(*client_profile.shape))

client_profile.shape = 250000 rows, 24 cols

In [30]:
client_profile.head()

,APPLICATION_NUMBER,GENDER,CHILDRENS,TOTAL_SALARY,AMOUNT_CREDIT,AMOUNT_ANNUITY,EDUCATION_LEVEL,FAMILY_STATUS,REGION_POPULATION,AGE,...,FAMILY_SIZE,EXTERNAL_SCORING_RATING_1,EXTERNAL_SCORING_RATING_2,EXTERNAL_SCORING_RATING_3,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,123666076,F,0,157500.0,270000.0,13500.0,Incomplete higher,Civil marriage,0.008068,8560,...,2.0,0.329471,0.236315,0.678568,0.0,0.0,0.0,0.0,1.0,2.0
1,123423688,F,0,270000.0,536917.5,28467.0,Secondary / secondary special,Married,0.020246,23187,...,2.0,NaN,0.442295,0.802745,0.0,0.0,0.0,0.0,1.0,1.0
2,123501780,M,1,427500.0,239850.0,23850.0,Incomplete higher,Married,0.072508,14387,...,3.0,0.409017,0.738159,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,123588799,M,0,112500.0,254700.0,17149.5,Secondary / secondary special,Married,0.019101,14273,...,2.0,NaN,0.308994,0.590233,0.0,0.0,0.0,0.0,0.0,3.0
4,123647485,M,0,130500.0,614574.0,19822.5,Lower secondary,Married,0.022625,22954,...,2.0,NaN,0.739408,0.156640,0.0,0.0,1.0,0.0,0.0,6.0

In [31]:
df = pd.merge(train, client_profile, on='APPLICATION_NUMBER', how='inner')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 89539 entries, 0 to 89538
Data columns (total 26 columns):
APPLICATION_NUMBER            89539 non-null int64
TARGET                        89539 non-null int64
NAME_CONTRACT_TYPE            89539 non-null object
GENDER                        89539 non-null object
CHILDRENS                     89539 non-null int64
TOTAL_SALARY                  89539 non-null float64
AMOUNT_CREDIT                 89539 non-null float64
AMOUNT_ANNUITY                89534 non-null float64
EDUCATION_LEVEL               89539 non-null object
FAMILY_STATUS                 89539 non-null object
REGION_POPULATION             89539 non-null float64
AGE                           89539 non-null int64
DAYS_ON_LAST_JOB              89539 non-null int64
OWN_CAR_AGE                   30533 non-null float64
FLAG_PHONE                    89539 non-null int64
FLAG_EMAIL                    89539 non-null int64
FAMILY_SIZE                   89538 non-null float64
EXTERNAL_SCORING_RATING_1     39091 non-null float64
EXTERNAL_SCORING_RATING_2     89345 non-null float64
EXTERNAL_SCORING_RATING_3     71808 non-null float64
AMT_REQ_CREDIT_BUREAU_HOUR    77480 non-null float64
AMT_REQ_CREDIT_BUREAU_DAY     77480 non-null float64
AMT_REQ_CREDIT_BUREAU_WEEK    77480 non-null float64
AMT_REQ_CREDIT_BUREAU_MON     77480 non-null float64
AMT_REQ_CREDIT_BUREAU_QRT     77480 non-null float64
AMT_REQ_CREDIT_BUREAU_YEAR    77480 non-null float64
dtypes: float64(15), int64(7), object(4)
memory usage: 18.4+ MB

In [32]:
app_without_cf = set(train["APPLICATION_NUMBER"]) - set(client_profile["APPLICATION_NUMBER"])

In [33]:
len(app_without_cf)

20554

In [34]:
#те заявки, по которым нет не редитной истории ни профиля клиента
len(app_without_cf & app_without_bki)

4769

In [35]:
#те заявки, по которым либо нет кредитной истории либо нет профиля клиента
len(app_without_cf | app_without_bki)

41370

In [36]:
train[train["APPLICATION_NUMBER"].isin(app_without_cf)]["TARGET"].value_counts()

0    18865
1     1689
Name: TARGET, dtype: int64

In [37]:
train[train["APPLICATION_NUMBER"].isin(app_without_cf | app_without_bki)]["TARGET"].value_counts()

0    38049
1     3321
Name: TARGET, dtype: int64

__payments.csv__

In [38]:
pay = pd.read_csv("payments.csv")
print("payments.shape = {} rows, {} cols".format(*pay.shape))

payments.shape = 1023932 rows, 8 cols

In [39]:
pay.head()

,PREV_APPLICATION_NUMBER,APPLICATION_NUMBER,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,49011181,123664960,1.0,5,1002.0,1015.0,12156.615,12156.615
1,48683432,123497205,1.0,13,442.0,432.0,18392.535,10047.645
2,48652024,123749925,1.0,10,8.0,23.0,5499.945,5499.945
3,48398897,123550846,0.0,82,398.0,398.0,7082.145,7082.145
4,49867197,123562174,0.0,63,1359.0,1359.0,156.735,156.735

In [40]:
pay.describe()

,PREV_APPLICATION_NUMBER,APPLICATION_NUMBER,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
count,1.023932e+06,1.023932e+06,1.023932e+06,1.023932e+06,1.023932e+06,1.023729e+06,1.023932e+06,1.023729e+06
mean,4.917253e+07,1.236018e+08,8.569114e-01,1.888052e+01,1.042505e+03,1.051378e+03,1.714263e+04,1.733931e+04
std,5.363093e+05,1.027412e+05,1.053180e+00,2.669996e+01,8.013580e+02,8.009974e+02,5.130650e+04,5.557338e+04
min,4.826822e+07,1.234233e+08,0.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00
25%,4.870325e+07,1.235130e+08,0.000000e+00,4.000000e+00,3.610000e+02,3.700000e+02,4.217445e+03,3.386205e+03
50%,4.916602e+07,1.236020e+08,1.000000e+00,8.000000e+00,8.170000e+02,8.260000e+02,8.878500e+03,8.115390e+03
75%,4.963797e+07,1.236910e+08,1.000000e+00,1.900000e+01,1.655000e+03,1.664000e+03,1.671229e+04,1.611140e+04
max,5.011171e+07,1.237796e+08,1.780000e+02,2.750000e+02,2.922000e+03,3.054000e+03,2.860377e+06,2.860377e+06

In [41]:
df = pd.merge(train, pay, on='APPLICATION_NUMBER', how='inner')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 316939 entries, 0 to 316938
Data columns (total 10 columns):
APPLICATION_NUMBER         316939 non-null int64
TARGET                     316939 non-null int64
NAME_CONTRACT_TYPE         316939 non-null object
PREV_APPLICATION_NUMBER    316939 non-null int64
NUM_INSTALMENT_VERSION     316939 non-null float64
NUM_INSTALMENT_NUMBER      316939 non-null int64
DAYS_INSTALMENT            316939 non-null float64
DAYS_ENTRY_PAYMENT         316882 non-null float64
AMT_INSTALMENT             316939 non-null float64
AMT_PAYMENT                316882 non-null float64
dtypes: float64(5), int64(4), object(1)
memory usage: 26.6+ MB

__applications_history.csv__

In [42]:
history = pd.read_csv("applications_history.csv")
print("applications_history.shape = {} rows, {} cols".format(*history.shape))

applications_history.shape = 1670214 rows, 26 cols

In [43]:
history.head()

,PREV_APPLICATION_NUMBER,APPLICATION_NUMBER,NAME_CONTRACT_TYPE,AMOUNT_ANNUITY,AMT_APPLICATION,AMOUNT_CREDIT,AMOUNT_PAYMENT,AMOUNT_GOODS_PAYMENT,NAME_CONTRACT_STATUS,DAYS_DECISION,...,NAME_PRODUCT_TYPE,SELLERPLACE_AREA,CNT_PAYMENT,NAME_YIELD_GROUP,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,49298709,123595216,NaN,1730.430,17145.0,17145.0,0.0,17145.0,Approved,73,...,XNA,35,12.0,middle,365243.0,42.0,300.0,42.0,37.0,0.0
1,50070639,123431468,Cash,25188.615,607500.0,679671.0,NaN,607500.0,Approved,164,...,x-sell,-1,36.0,low_action,365243.0,134.0,916.0,365243.0,365243.0,1.0
2,49791680,123445379,Cash,15060.735,112500.0,136444.5,NaN,112500.0,Approved,301,...,x-sell,-1,12.0,high,365243.0,271.0,59.0,365243.0,365243.0,1.0
3,50087457,123499497,Cash,47041.335,450000.0,470790.0,NaN,450000.0,Approved,512,...,x-sell,-1,12.0,middle,365243.0,482.0,152.0,182.0,177.0,1.0
4,49052479,123525393,Cash,31924.395,337500.0,404055.0,NaN,337500.0,Refused,781,...,walk-in,-1,24.0,high,NaN,NaN,NaN,NaN,NaN,NaN

df = pd.merge(train, history, on=['APPLICATION_NUMBER','NAME_CONTRACT_TYPE'], how='inner')
df.info()

__baseline__

In [44]:
data = pd.merge(train, client_profile, on='APPLICATION_NUMBER', how='left')

In [45]:
#data["EDUCATION_FAMILY_STATUS"] = data["EDUCATION_LEVEL"] + " | " + data["FAMILY_STATUS"]
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110093 entries, 0 to 110092
Data columns (total 26 columns):
APPLICATION_NUMBER            110093 non-null int64
TARGET                        110093 non-null int64
NAME_CONTRACT_TYPE            110093 non-null object
GENDER                        89539 non-null object
CHILDRENS                     89539 non-null float64
TOTAL_SALARY                  89539 non-null float64
AMOUNT_CREDIT                 89539 non-null float64
AMOUNT_ANNUITY                89534 non-null float64
EDUCATION_LEVEL               89539 non-null object
FAMILY_STATUS                 89539 non-null object
REGION_POPULATION             89539 non-null float64
AGE                           89539 non-null float64
DAYS_ON_LAST_JOB              89539 non-null float64
OWN_CAR_AGE                   30533 non-null float64
FLAG_PHONE                    89539 non-null float64
FLAG_EMAIL                    89539 non-null float64
FAMILY_SIZE                   89538 non-null float64
EXTERNAL_SCORING_RATING_1     39091 non-null float64
EXTERNAL_SCORING_RATING_2     89345 non-null float64
EXTERNAL_SCORING_RATING_3     71808 non-null float64
AMT_REQ_CREDIT_BUREAU_HOUR    77480 non-null float64
AMT_REQ_CREDIT_BUREAU_DAY     77480 non-null float64
AMT_REQ_CREDIT_BUREAU_WEEK    77480 non-null float64
AMT_REQ_CREDIT_BUREAU_MON     77480 non-null float64
AMT_REQ_CREDIT_BUREAU_QRT     77480 non-null float64
AMT_REQ_CREDIT_BUREAU_YEAR    77480 non-null float64
dtypes: float64(20), int64(2), object(4)
memory usage: 22.7+ MB

In [46]:
categorical = data.select_dtypes(include=["object"]).columns.tolist()

In [47]:
categorical

['NAME_CONTRACT_TYPE', 'GENDER', 'EDUCATION_LEVEL', 'FAMILY_STATUS']

In [48]:
data[categorical] = data[categorical].astype(str)

In [49]:
x_train, x_valid = train_test_split(
    data, train_size=0.7, random_state=27, shuffle=True
)
y_train, y_valid = train_test_split(
    data["TARGET"], train_size=0.7, random_state=27, shuffle=True
)

In [50]:
to_drop = [
    "TARGET",
    "APPLICATION_NUMBER"
]

In [51]:
x_train = x_train.drop(to_drop, axis=1)
x_valid = x_valid.drop(to_drop, axis=1)

In [52]:
x_valid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33028 entries, 6863 to 44012
Data columns (total 24 columns):
NAME_CONTRACT_TYPE            33028 non-null object
GENDER                        33028 non-null object
CHILDRENS                     26917 non-null float64
TOTAL_SALARY                  26917 non-null float64
AMOUNT_CREDIT                 26917 non-null float64
AMOUNT_ANNUITY                26915 non-null float64
EDUCATION_LEVEL               33028 non-null object
FAMILY_STATUS                 33028 non-null object
REGION_POPULATION             26917 non-null float64
AGE                           26917 non-null float64
DAYS_ON_LAST_JOB              26917 non-null float64
OWN_CAR_AGE                   9194 non-null float64
FLAG_PHONE                    26917 non-null float64
FLAG_EMAIL                    26917 non-null float64
FAMILY_SIZE                   26917 non-null float64
EXTERNAL_SCORING_RATING_1     11713 non-null float64
EXTERNAL_SCORING_RATING_2     26857 non-null float64
EXTERNAL_SCORING_RATING_3     21473 non-null float64
AMT_REQ_CREDIT_BUREAU_HOUR    23212 non-null float64
AMT_REQ_CREDIT_BUREAU_DAY     23212 non-null float64
AMT_REQ_CREDIT_BUREAU_WEEK    23212 non-null float64
AMT_REQ_CREDIT_BUREAU_MON     23212 non-null float64
AMT_REQ_CREDIT_BUREAU_QRT     23212 non-null float64
AMT_REQ_CREDIT_BUREAU_YEAR    23212 non-null float64
dtypes: float64(20), object(4)
memory usage: 6.3+ MB

In [53]:
print("x_train.shape = {} rows, {} cols".format(*x_train.shape))
print("x_valid.shape = {} rows, {} cols".format(*x_valid.shape))
print(*y_valid.shape)

x_train.shape = 77065 rows, 24 cols
x_valid.shape = 33028 rows, 24 cols
33028

cb_params_1000 = {
    "n_estimators": 1000,
    "learning_rate": 0.01,
    "loss_function": "Logloss",
    "eval_metric": "AUC",
    "task_type": "CPU",
    "max_bin": 20,
    "verbose": 10,
    "max_depth": 6,
    "l2_leaf_reg": 100,
    "early_stopping_rounds": 50,
    "thread_count": 6,
    "random_seed": 27
}

eval_set = [(x_train, y_train)]
model = cb.CatBoostClassifier(**cb_params_1000)
model.fit(X=x_train, y=y_train, eval_set=eval_set, cat_features=categorical)

y_pred_valid = model.predict_proba(x_valid)[:, 1]

y_pred_valid

roc_auc_score(y_valid, y_pred_valid)

data_test = pd.merge(test, client_profile, on='APPLICATION_NUMBER', how='left')
app_nums = data_test["APPLICATION_NUMBER"]
data_test = data_test.drop("APPLICATION_NUMBER", axis=1)

data_test[categorical] = data_test[categorical].astype(str)
#data_test["EDUCATION_FAMILY_STATUS"] = data_test["EDUCATION_LEVEL"] + " | " + data_test["FAMILY_STATUS"]

data_test.info()

y_pred_test = model.predict_proba(data_test)[:, 1]

sample_submission = pd.DataFrame()
sample_submission["APPLICATION_NUMBER"] = app_nums
sample_submission["TARGET"] = y_pred_test
sample_submission.info()

sample_submission.to_csv('sample_submission.csv', index=False)

__Добавлю еще один источник данных__

In [64]:
def create_numerical_aggs(data: pd.DataFrame,
                          groupby_id: str,
                          aggs: dict,
                          prefix: Optional[str] = None,
                          suffix: Optional[str] = None,
                          ) -> pd.DataFrame:
    """
    Построение агрегаций для числовых признаков.

    Parameters
    ----------
    data: pandas.core.frame.DataFrame
        Выборка для построения агрегаций.

    groupby_id: str
        Название ключа, по которому нужно произвести группировку.

    aggs: dict
        Словарь с названием признака и списка функций.
        Ключ словаря - название признака, который используется для
        вычисления агрегаций, значение словаря - список с названием
        функций для вычисления агрегаций.

    prefix: str, optional, default = None
        Префикс для названия признаков.
        Опциональный параметр, по умолчанию, не используется.

    suffix: str, optional, default = None
        Суффикс для названия признаков.
        Опциональный параметр, по умолчанию, не используется.

    Returns
    -------
    stats: pandas.core.frame.DataFrame
        Выборка с рассчитанными агрегациями.

    """
    if not prefix:
        prefix = ""
    if not suffix:
        suffix = ""

    data_grouped = data.groupby(groupby_id)
    stats = data_grouped.agg(aggs)
    stats.columns = [f"{prefix}{feature}_{stat}{suffix}".upper() for feature, stat in stats]
    stats = stats.reset_index()

    return stats

In [65]:
history.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1670214 entries, 0 to 1670213
Data columns (total 26 columns):
PREV_APPLICATION_NUMBER      1670214 non-null int64
APPLICATION_NUMBER           1670214 non-null int64
NAME_CONTRACT_TYPE           940717 non-null object
AMOUNT_ANNUITY               1297979 non-null float64
AMT_APPLICATION              1670214 non-null float64
AMOUNT_CREDIT                1670213 non-null float64
AMOUNT_PAYMENT               774370 non-null float64
AMOUNT_GOODS_PAYMENT         1284699 non-null float64
NAME_CONTRACT_STATUS         1670214 non-null object
DAYS_DECISION                1670214 non-null int64
NAME_PAYMENT_TYPE            1670214 non-null object
CODE_REJECT_REASON           1670214 non-null object
NAME_TYPE_SUITE              849809 non-null object
NAME_CLIENT_TYPE             1670214 non-null object
NAME_GOODS_CATEGORY          1670214 non-null object
NAME_PORTFOLIO               1670214 non-null object
NAME_PRODUCT_TYPE            1670214 non-null object
SELLERPLACE_AREA             1670214 non-null int64
CNT_PAYMENT                  1297984 non-null float64
NAME_YIELD_GROUP             1670214 non-null object
DAYS_FIRST_DRAWING           997149 non-null float64
DAYS_FIRST_DUE               997149 non-null float64
DAYS_LAST_DUE_1ST_VERSION    997149 non-null float64
DAYS_LAST_DUE                997149 non-null float64
DAYS_TERMINATION             997149 non-null float64
NFLAG_INSURED_ON_APPROVAL    997149 non-null float64
dtypes: float64(12), int64(4), object(10)
memory usage: 331.3+ MB

In [66]:
aggs = {
    "AMT_APPLICATION": [np.mean, np.std, np.sum, "max"],
    "AMOUNT_ANNUITY": [np.mean, np.std, np.sum, "max"],
    "AMOUNT_CREDIT": [np.mean, np.std, np.sum, "max"],
    "AMOUNT_PAYMENT": [np.mean, np.std, np.sum, "max"],
    "AMOUNT_GOODS_PAYMENT": [np.mean, np.std, np.sum, "max"],
    "DAYS_FIRST_DRAWING": [np.mean, np.std, np.sum, "max"],
    "DAYS_DECISION": [np.mean, np.std, np.sum, "max"],
    "DAYS_FIRST_DUE": [np.mean, np.std, np.sum, "max"],
    "DAYS_LAST_DUE_1ST_VERSION": [np.mean, np.std, np.sum, "max"],
    "DAYS_TERMINATION": [np.mean, np.std, np.sum, "max"],
    "DAYS_FIRST_DUE": [np.mean, np.std, np.sum, "max"],
    "NFLAG_INSURED_ON_APPROVAL": [np.mean, np.std, np.sum, "max"],
    "CNT_PAYMENT": [np.mean]
}

stats = create_numerical_aggs(
    history, groupby_id="APPLICATION_NUMBER", aggs=aggs, prefix="history_"
)
stats.head(n=2)

,APPLICATION_NUMBER,HISTORY_AMT_APPLICATION_MEAN,HISTORY_AMT_APPLICATION_STD,HISTORY_AMT_APPLICATION_SUM,HISTORY_AMT_APPLICATION_MAX,HISTORY_AMOUNT_ANNUITY_MEAN,HISTORY_AMOUNT_ANNUITY_STD,HISTORY_AMOUNT_ANNUITY_SUM,HISTORY_AMOUNT_ANNUITY_MAX,HISTORY_AMOUNT_CREDIT_MEAN,...,HISTORY_DAYS_LAST_DUE_1ST_VERSION_MAX,HISTORY_DAYS_TERMINATION_MEAN,HISTORY_DAYS_TERMINATION_STD,HISTORY_DAYS_TERMINATION_SUM,HISTORY_DAYS_TERMINATION_MAX,HISTORY_NFLAG_INSURED_ON_APPROVAL_MEAN,HISTORY_NFLAG_INSURED_ON_APPROVAL_STD,HISTORY_NFLAG_INSURED_ON_APPROVAL_SUM,HISTORY_NFLAG_INSURED_ON_APPROVAL_MAX,HISTORY_CNT_PAYMENT_MEAN
0,123423340,24835.5,NaN,24835.5,24835.5,3951.000,NaN,3951.000,3951.000,23787.0,...,1499.0,1612.0,NaN,1612.0,1612.0,0.0,NaN,0.0,0.0,8.0
1,123423341,179055.0,NaN,179055.0,179055.0,9251.775,NaN,9251.775,9251.775,179055.0,...,125.0,17.0,NaN,17.0,17.0,0.0,NaN,0.0,0.0,24.0

In [67]:
data = pd.merge(data, stats, on='APPLICATION_NUMBER', how='left')
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110093 entries, 0 to 110092
Data columns (total 71 columns):
APPLICATION_NUMBER                        110093 non-null int64
TARGET                                    110093 non-null int64
NAME_CONTRACT_TYPE                        110093 non-null object
GENDER                                    110093 non-null object
CHILDRENS                                 89539 non-null float64
TOTAL_SALARY                              89539 non-null float64
AMOUNT_CREDIT                             89539 non-null float64
AMOUNT_ANNUITY                            89534 non-null float64
EDUCATION_LEVEL                           110093 non-null object
FAMILY_STATUS                             110093 non-null object
REGION_POPULATION                         89539 non-null float64
AGE                                       89539 non-null float64
DAYS_ON_LAST_JOB                          89539 non-null float64
OWN_CAR_AGE                               30533 non-null float64
FLAG_PHONE                                89539 non-null float64
FLAG_EMAIL                                89539 non-null float64
FAMILY_SIZE                               89538 non-null float64
EXTERNAL_SCORING_RATING_1                 39091 non-null float64
EXTERNAL_SCORING_RATING_2                 89345 non-null float64
EXTERNAL_SCORING_RATING_3                 71808 non-null float64
AMT_REQ_CREDIT_BUREAU_HOUR                77480 non-null float64
AMT_REQ_CREDIT_BUREAU_DAY                 77480 non-null float64
AMT_REQ_CREDIT_BUREAU_WEEK                77480 non-null float64
AMT_REQ_CREDIT_BUREAU_MON                 77480 non-null float64
AMT_REQ_CREDIT_BUREAU_QRT                 77480 non-null float64
AMT_REQ_CREDIT_BUREAU_YEAR                77480 non-null float64
HISTORY_AMT_APPLICATION_MEAN              104656 non-null float64
HISTORY_AMT_APPLICATION_STD               86019 non-null float64
HISTORY_AMT_APPLICATION_SUM               104656 non-null float64
HISTORY_AMT_APPLICATION_MAX               104656 non-null float64
HISTORY_AMOUNT_ANNUITY_MEAN               104517 non-null float64
HISTORY_AMOUNT_ANNUITY_STD                81912 non-null float64
HISTORY_AMOUNT_ANNUITY_SUM                104656 non-null float64
HISTORY_AMOUNT_ANNUITY_MAX                104517 non-null float64
HISTORY_AMOUNT_CREDIT_MEAN                104656 non-null float64
HISTORY_AMOUNT_CREDIT_STD                 86019 non-null float64
HISTORY_AMOUNT_CREDIT_SUM                 104656 non-null float64
HISTORY_AMOUNT_CREDIT_MAX                 104656 non-null float64
HISTORY_AMOUNT_PAYMENT_MEAN               98402 non-null float64
HISTORY_AMOUNT_PAYMENT_STD                59446 non-null float64
HISTORY_AMOUNT_PAYMENT_SUM                104656 non-null float64
HISTORY_AMOUNT_PAYMENT_MAX                98402 non-null float64
HISTORY_AMOUNT_GOODS_PAYMENT_MEAN         104342 non-null float64
HISTORY_AMOUNT_GOODS_PAYMENT_STD          81717 non-null float64
HISTORY_AMOUNT_GOODS_PAYMENT_SUM          104656 non-null float64
HISTORY_AMOUNT_GOODS_PAYMENT_MAX          104342 non-null float64
HISTORY_DAYS_FIRST_DRAWING_MEAN           104176 non-null float64
HISTORY_DAYS_FIRST_DRAWING_STD            75770 non-null float64
HISTORY_DAYS_FIRST_DRAWING_SUM            104656 non-null float64
HISTORY_DAYS_FIRST_DRAWING_MAX            104176 non-null float64
HISTORY_DAYS_DECISION_MEAN                104656 non-null float64
HISTORY_DAYS_DECISION_STD                 86019 non-null float64
HISTORY_DAYS_DECISION_SUM                 104656 non-null float64
HISTORY_DAYS_DECISION_MAX                 104656 non-null float64
HISTORY_DAYS_FIRST_DUE_MEAN               104176 non-null float64
HISTORY_DAYS_FIRST_DUE_STD                75770 non-null float64
HISTORY_DAYS_FIRST_DUE_SUM                104656 non-null float64
HISTORY_DAYS_FIRST_DUE_MAX                104176 non-null float64
HISTORY_DAYS_LAST_DUE_1ST_VERSION_MEAN    104176 non-null float64
HISTORY_DAYS_LAST_DUE_1ST_VERSION_STD     75770 non-null float64
HISTORY_DAYS_LAST_DUE_1ST_VERSION_SUM     104656 non-null float64
HISTORY_DAYS_LAST_DUE_1ST_VERSION_MAX     104176 non-null float64
HISTORY_DAYS_TERMINATION_MEAN             104176 non-null float64
HISTORY_DAYS_TERMINATION_STD              75770 non-null float64
HISTORY_DAYS_TERMINATION_SUM              104656 non-null float64
HISTORY_DAYS_TERMINATION_MAX              104176 non-null float64
HISTORY_NFLAG_INSURED_ON_APPROVAL_MEAN    104176 non-null float64
HISTORY_NFLAG_INSURED_ON_APPROVAL_STD     75770 non-null float64
HISTORY_NFLAG_INSURED_ON_APPROVAL_SUM     104656 non-null float64
HISTORY_NFLAG_INSURED_ON_APPROVAL_MAX     104176 non-null float64
HISTORY_CNT_PAYMENT_MEAN                  104518 non-null float64
dtypes: float64(65), int64(2), object(4)
memory usage: 60.5+ MB

In [68]:
data[categorical] = data[categorical].astype(str)

In [69]:
x_train, x_valid = train_test_split(
    data, train_size=0.7, random_state=27, shuffle=True
)
y_train, y_valid = train_test_split(
    data["TARGET"], train_size=0.7, random_state=27, shuffle=True
)

In [70]:
x_train = x_train.drop(to_drop, axis=1)
x_valid = x_valid.drop(to_drop, axis=1)

In [71]:
eval_set = [(x_train, y_train)]
model = cb.CatBoostClassifier(**cb_params_1000)
model.fit(X=x_train, y=y_train, eval_set=eval_set, cat_features=categorical)

0:	test: 0.5181136	best: 0.5181136 (0)	total: 162ms	remaining: 2m 42s
10:	test: 0.6522426	best: 0.6522426 (10)	total: 1.55s	remaining: 2m 19s
20:	test: 0.6583787	best: 0.6583787 (20)	total: 3s	remaining: 2m 19s
30:	test: 0.6749141	best: 0.6750537 (25)	total: 4.31s	remaining: 2m 14s
40:	test: 0.6787671	best: 0.6787671 (40)	total: 5.63s	remaining: 2m 11s
50:	test: 0.6832798	best: 0.6832798 (50)	total: 6.93s	remaining: 2m 8s
60:	test: 0.6863612	best: 0.6866289 (58)	total: 8.26s	remaining: 2m 7s
70:	test: 0.6885305	best: 0.6885323 (69)	total: 9.57s	remaining: 2m 5s
80:	test: 0.6912159	best: 0.6912159 (80)	total: 10.9s	remaining: 2m 3s
90:	test: 0.6926580	best: 0.6926580 (90)	total: 12.2s	remaining: 2m 1s
100:	test: 0.6954728	best: 0.6954728 (100)	total: 13.5s	remaining: 2m
110:	test: 0.6959925	best: 0.6960144 (109)	total: 14.8s	remaining: 1m 58s
120:	test: 0.6968800	best: 0.6968800 (120)	total: 16.2s	remaining: 1m 57s
130:	test: 0.6982128	best: 0.6982951 (129)	total: 17.5s	remaining: 1m 56s
140:	test: 0.6996326	best: 0.6996326 (140)	total: 18.8s	remaining: 1m 54s
150:	test: 0.7022793	best: 0.7022793 (150)	total: 20.1s	remaining: 1m 52s
160:	test: 0.7037682	best: 0.7037682 (160)	total: 21.5s	remaining: 1m 51s
170:	test: 0.7050000	best: 0.7050000 (170)	total: 22.9s	remaining: 1m 51s
180:	test: 0.7056354	best: 0.7056354 (180)	total: 24.3s	remaining: 1m 49s
190:	test: 0.7067598	best: 0.7067598 (190)	total: 25.6s	remaining: 1m 48s
200:	test: 0.7076759	best: 0.7076759 (200)	total: 26.9s	remaining: 1m 47s
210:	test: 0.7087010	best: 0.7087010 (210)	total: 28.2s	remaining: 1m 45s
220:	test: 0.7092710	best: 0.7092710 (220)	total: 29.5s	remaining: 1m 44s
230:	test: 0.7097656	best: 0.7098134 (229)	total: 30.9s	remaining: 1m 42s
240:	test: 0.7104731	best: 0.7104731 (240)	total: 32.3s	remaining: 1m 41s
250:	test: 0.7109634	best: 0.7109634 (250)	total: 33.6s	remaining: 1m 40s
260:	test: 0.7114008	best: 0.7114008 (260)	total: 34.9s	remaining: 1m 38s
270:	test: 0.7119777	best: 0.7119777 (270)	total: 36.2s	remaining: 1m 37s
280:	test: 0.7123141	best: 0.7123141 (280)	total: 37.4s	remaining: 1m 35s
290:	test: 0.7129945	best: 0.7129945 (290)	total: 38.7s	remaining: 1m 34s
300:	test: 0.7137335	best: 0.7137335 (300)	total: 40s	remaining: 1m 32s
310:	test: 0.7141895	best: 0.7141895 (310)	total: 41.4s	remaining: 1m 31s
320:	test: 0.7146972	best: 0.7147016 (319)	total: 42.6s	remaining: 1m 30s
330:	test: 0.7150631	best: 0.7151020 (329)	total: 43.9s	remaining: 1m 28s
340:	test: 0.7155384	best: 0.7155384 (340)	total: 45.1s	remaining: 1m 27s
350:	test: 0.7161194	best: 0.7161194 (350)	total: 46.5s	remaining: 1m 25s
360:	test: 0.7166636	best: 0.7166636 (360)	total: 47.8s	remaining: 1m 24s
370:	test: 0.7172906	best: 0.7172906 (370)	total: 49.1s	remaining: 1m 23s
380:	test: 0.7178497	best: 0.7178500 (379)	total: 50.4s	remaining: 1m 21s
390:	test: 0.7183878	best: 0.7183878 (390)	total: 51.7s	remaining: 1m 20s
400:	test: 0.7188589	best: 0.7188589 (400)	total: 53.1s	remaining: 1m 19s
410:	test: 0.7193771	best: 0.7193771 (410)	total: 54.4s	remaining: 1m 17s
420:	test: 0.7200050	best: 0.7200050 (420)	total: 55.7s	remaining: 1m 16s
430:	test: 0.7203780	best: 0.7203780 (430)	total: 57s	remaining: 1m 15s
440:	test: 0.7208842	best: 0.7208842 (440)	total: 58.3s	remaining: 1m 13s
450:	test: 0.7211595	best: 0.7211595 (450)	total: 59.7s	remaining: 1m 12s
460:	test: 0.7215891	best: 0.7215891 (460)	total: 1m 1s	remaining: 1m 11s
470:	test: 0.7220065	best: 0.7220065 (470)	total: 1m 2s	remaining: 1m 9s
480:	test: 0.7224061	best: 0.7224061 (480)	total: 1m 3s	remaining: 1m 8s
490:	test: 0.7228628	best: 0.7228628 (490)	total: 1m 4s	remaining: 1m 7s
500:	test: 0.7233632	best: 0.7233632 (500)	total: 1m 6s	remaining: 1m 5s
510:	test: 0.7237624	best: 0.7237624 (510)	total: 1m 7s	remaining: 1m 4s
520:	test: 0.7242999	best: 0.7242999 (520)	total: 1m 8s	remaining: 1m 3s
530:	test: 0.7247419	best: 0.7247419 (530)	total: 1m 10s	remaining: 1m 1s
540:	test: 0.7251215	best: 0.7251215 (540)	total: 1m 11s	remaining: 1m
550:	test: 0.7254421	best: 0.7254421 (550)	total: 1m 12s	remaining: 59.2s
560:	test: 0.7258030	best: 0.7258030 (560)	total: 1m 13s	remaining: 57.8s
570:	test: 0.7261473	best: 0.7261473 (570)	total: 1m 15s	remaining: 56.5s
580:	test: 0.7264952	best: 0.7264952 (580)	total: 1m 16s	remaining: 55.2s
590:	test: 0.7268634	best: 0.7268634 (590)	total: 1m 17s	remaining: 53.9s
600:	test: 0.7272018	best: 0.7272018 (600)	total: 1m 19s	remaining: 52.5s
610:	test: 0.7275634	best: 0.7275634 (610)	total: 1m 20s	remaining: 51.1s
620:	test: 0.7279519	best: 0.7279519 (620)	total: 1m 21s	remaining: 49.8s
630:	test: 0.7282963	best: 0.7282963 (630)	total: 1m 22s	remaining: 48.4s
640:	test: 0.7286993	best: 0.7286993 (640)	total: 1m 24s	remaining: 47.1s
650:	test: 0.7289476	best: 0.7289476 (650)	total: 1m 25s	remaining: 45.8s
660:	test: 0.7292458	best: 0.7292492 (659)	total: 1m 26s	remaining: 44.4s
670:	test: 0.7295760	best: 0.7295760 (670)	total: 1m 27s	remaining: 43.1s
680:	test: 0.7298787	best: 0.7298787 (680)	total: 1m 29s	remaining: 41.8s
690:	test: 0.7300675	best: 0.7300675 (690)	total: 1m 30s	remaining: 40.5s
700:	test: 0.7303476	best: 0.7303476 (700)	total: 1m 31s	remaining: 39.2s
710:	test: 0.7305452	best: 0.7305452 (710)	total: 1m 33s	remaining: 37.9s
720:	test: 0.7308882	best: 0.7308882 (720)	total: 1m 34s	remaining: 36.5s
730:	test: 0.7312162	best: 0.7312162 (730)	total: 1m 35s	remaining: 35.2s
740:	test: 0.7314220	best: 0.7314220 (740)	total: 1m 36s	remaining: 33.9s
750:	test: 0.7317252	best: 0.7317252 (750)	total: 1m 38s	remaining: 32.6s
760:	test: 0.7319962	best: 0.7319962 (760)	total: 1m 39s	remaining: 31.3s
770:	test: 0.7322935	best: 0.7322935 (770)	total: 1m 40s	remaining: 29.9s
780:	test: 0.7325653	best: 0.7325653 (780)	total: 1m 42s	remaining: 28.6s
790:	test: 0.7328236	best: 0.7328236 (790)	total: 1m 43s	remaining: 27.3s
800:	test: 0.7331172	best: 0.7331172 (800)	total: 1m 44s	remaining: 26s
810:	test: 0.7333838	best: 0.7333838 (810)	total: 1m 46s	remaining: 24.7s
820:	test: 0.7336731	best: 0.7336731 (820)	total: 1m 47s	remaining: 23.4s
830:	test: 0.7339398	best: 0.7339398 (830)	total: 1m 48s	remaining: 22.1s
840:	test: 0.7342408	best: 0.7342408 (840)	total: 1m 50s	remaining: 20.8s
850:	test: 0.7344992	best: 0.7344992 (850)	total: 1m 51s	remaining: 19.5s
860:	test: 0.7347926	best: 0.7347926 (860)	total: 1m 52s	remaining: 18.2s
870:	test: 0.7350219	best: 0.7350219 (870)	total: 1m 54s	remaining: 16.9s
880:	test: 0.7352874	best: 0.7352874 (880)	total: 1m 55s	remaining: 15.6s
890:	test: 0.7355479	best: 0.7355479 (890)	total: 1m 56s	remaining: 14.3s
900:	test: 0.7357640	best: 0.7357640 (900)	total: 1m 58s	remaining: 13s
910:	test: 0.7360209	best: 0.7360209 (910)	total: 1m 59s	remaining: 11.7s
920:	test: 0.7362280	best: 0.7362280 (920)	total: 2m	remaining: 10.4s
930:	test: 0.7364606	best: 0.7364606 (930)	total: 2m 2s	remaining: 9.06s
940:	test: 0.7367215	best: 0.7367215 (940)	total: 2m 3s	remaining: 7.74s
950:	test: 0.7369688	best: 0.7369688 (950)	total: 2m 4s	remaining: 6.43s
960:	test: 0.7373150	best: 0.7373150 (960)	total: 2m 6s	remaining: 5.12s
970:	test: 0.7375771	best: 0.7375771 (970)	total: 2m 7s	remaining: 3.81s
980:	test: 0.7378717	best: 0.7378717 (980)	total: 2m 8s	remaining: 2.49s
990:	test: 0.7382089	best: 0.7382089 (990)	total: 2m 10s	remaining: 1.18s
999:	test: 0.7384751	best: 0.7384751 (999)	total: 2m 11s	remaining: 0us

bestTest = 0.738475087
bestIteration = 999

In [72]:
y_pred_valid = model.predict_proba(x_valid)[:, 1]

In [73]:
roc_auc_score(y_valid, y_pred_valid)

0.7255344451177922

In [74]:
def calculate_permutation_importance(estimator, 
                                     metric: callable,
                                     x_valid: pd.DataFrame,
                                     y_valid: pd.Series) -> pd.Series:
    """
    Расчет пермутированной важности признаков.
    """
    scores = {}
    y_pred = estimator.predict(x_valid)
    base_score = metric(y_valid, y_pred)

    for feature in x_valid.columns:
        x_valid_copy = x_valid.copy()
        x_valid_copy[feature] = np.random.permutation(x_valid_copy[feature])

        y_pred = estimator.predict(x_valid_copy)
        score = metric(y_valid, y_pred)
        scores[feature] = base_score - score

    scores = pd.Series(scores)
    scores = scores.sort_values(ascending=False)

    return scores

In [75]:
perm_importance = calculate_permutation_importance(
    estimator=model, metric=roc_auc_score, x_valid=x_valid, y_valid=y_valid
)

In [76]:
len(perm_importance)

69

In [77]:
colums_perm_importance = list(perm_importance[perm_importance > 0].index)
colums_perm_importance

['EXTERNAL_SCORING_RATING_3',
 'DAYS_ON_LAST_JOB',
 'AMOUNT_ANNUITY',
 'EDUCATION_LEVEL',
 'NAME_CONTRACT_TYPE',
 'FLAG_EMAIL',
 'EXTERNAL_SCORING_RATING_1',
 'AMOUNT_CREDIT',
 'EXTERNAL_SCORING_RATING_2',
 'FLAG_PHONE',
 'CHILDRENS',
 'FAMILY_STATUS',
 'GENDER',
 'HISTORY_DAYS_TERMINATION_MAX',
 'HISTORY_AMOUNT_GOODS_PAYMENT_SUM',
 'HISTORY_AMOUNT_ANNUITY_SUM',
 'HISTORY_AMT_APPLICATION_MAX']

In [78]:
data = data[colums_perm_importance]

In [79]:
data.head()

,EXTERNAL_SCORING_RATING_3,DAYS_ON_LAST_JOB,AMOUNT_ANNUITY,EDUCATION_LEVEL,NAME_CONTRACT_TYPE,FLAG_EMAIL,EXTERNAL_SCORING_RATING_1,AMOUNT_CREDIT,EXTERNAL_SCORING_RATING_2,FLAG_PHONE,CHILDRENS,FAMILY_STATUS,GENDER,HISTORY_DAYS_TERMINATION_MAX,HISTORY_AMOUNT_GOODS_PAYMENT_SUM,HISTORY_AMOUNT_ANNUITY_SUM,HISTORY_AMT_APPLICATION_MAX
0,0.716570,1719.0,25128.0,Secondary / secondary special,Cash,0.0,0.700784,855000.0,0.645914,0.0,1.0,Married,M,365243.0,206361.54,23111.415,72634.14
1,NaN,NaN,NaN,nan,Cash,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,518.0,1327635.00,111676.005,495000.00
2,0.267869,3618.0,42660.0,Higher education,Cash,0.0,NaN,1006920.0,0.682149,1.0,0.0,Married,F,2440.0,2123145.00,130153.905,1395000.00
3,0.170446,365243.0,22972.5,Secondary / secondary special,Cash,0.0,NaN,518562.0,0.171299,0.0,0.0,Married,M,365243.0,122413.50,8475.390,100858.50
4,NaN,NaN,NaN,nan,Cash,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,1335.0,2401578.00,116668.980,697500.00

In [80]:
x_train, x_valid = train_test_split(
    data, train_size=0.7, random_state=27, shuffle=True
)
y_train, y_valid = train_test_split(
    train["TARGET"], train_size=0.7, random_state=27, shuffle=True
)

In [81]:
cb_params_1000 = {
    "n_estimators": 1000,
    "learning_rate": 0.01,
    "loss_function": "Logloss",
    "eval_metric": "AUC",
    "task_type": "CPU",
    "max_bin": 20,
    "verbose": 10,
    "max_depth": 6,
    "l2_leaf_reg": 100,
    "early_stopping_rounds": 50,
    "thread_count": 6,
    "random_seed": 27
}

eval_set = [(x_train, y_train)]
model = cb.CatBoostClassifier(**cb_params_1000)
model.fit(X=x_train, y=y_train, eval_set=eval_set, cat_features=categorical)

0:	test: 0.6289087	best: 0.6289087 (0)	total: 143ms	remaining: 2m 23s
10:	test: 0.6881825	best: 0.6881825 (10)	total: 1.41s	remaining: 2m 7s
20:	test: 0.6935209	best: 0.6937566 (15)	total: 2.69s	remaining: 2m 5s
30:	test: 0.6933546	best: 0.6952175 (26)	total: 3.77s	remaining: 1m 58s
40:	test: 0.6949591	best: 0.6952175 (26)	total: 4.99s	remaining: 1m 56s
50:	test: 0.6958059	best: 0.6958059 (50)	total: 6.16s	remaining: 1m 54s
60:	test: 0.6956067	best: 0.6958059 (50)	total: 7.38s	remaining: 1m 53s
70:	test: 0.6958665	best: 0.6959787 (68)	total: 8.53s	remaining: 1m 51s
80:	test: 0.6964354	best: 0.6966691 (78)	total: 9.73s	remaining: 1m 50s
90:	test: 0.6965709	best: 0.6967160 (89)	total: 10.9s	remaining: 1m 49s
100:	test: 0.6972193	best: 0.6976414 (96)	total: 12.1s	remaining: 1m 47s
110:	test: 0.6985831	best: 0.6986060 (109)	total: 13.3s	remaining: 1m 46s
120:	test: 0.6991266	best: 0.6991266 (120)	total: 14.5s	remaining: 1m 45s
130:	test: 0.6995427	best: 0.6995427 (130)	total: 15.8s	remaining: 1m 44s
140:	test: 0.6997604	best: 0.6998811 (134)	total: 17s	remaining: 1m 43s
150:	test: 0.7010534	best: 0.7010534 (150)	total: 18.3s	remaining: 1m 42s
160:	test: 0.7025382	best: 0.7025382 (160)	total: 19.3s	remaining: 1m 40s
170:	test: 0.7036892	best: 0.7036892 (170)	total: 20.4s	remaining: 1m 38s
180:	test: 0.7047251	best: 0.7047856 (179)	total: 21.4s	remaining: 1m 36s
190:	test: 0.7051502	best: 0.7051502 (190)	total: 22.5s	remaining: 1m 35s
200:	test: 0.7063689	best: 0.7063689 (200)	total: 23.6s	remaining: 1m 33s
210:	test: 0.7070373	best: 0.7070373 (210)	total: 24.6s	remaining: 1m 32s
220:	test: 0.7075058	best: 0.7075058 (220)	total: 25.7s	remaining: 1m 30s
230:	test: 0.7083350	best: 0.7083350 (230)	total: 26.8s	remaining: 1m 29s
240:	test: 0.7088378	best: 0.7088733 (238)	total: 28s	remaining: 1m 28s
250:	test: 0.7092592	best: 0.7092592 (249)	total: 28.8s	remaining: 1m 25s
260:	test: 0.7096673	best: 0.7096673 (260)	total: 29.9s	remaining: 1m 24s
270:	test: 0.7102390	best: 0.7102390 (270)	total: 31s	remaining: 1m 23s
280:	test: 0.7103897	best: 0.7104445 (275)	total: 32s	remaining: 1m 21s
290:	test: 0.7108445	best: 0.7108445 (290)	total: 33.1s	remaining: 1m 20s
300:	test: 0.7114853	best: 0.7114853 (300)	total: 34.2s	remaining: 1m 19s
310:	test: 0.7120402	best: 0.7120402 (310)	total: 35.3s	remaining: 1m 18s
320:	test: 0.7125186	best: 0.7125186 (320)	total: 36.3s	remaining: 1m 16s
330:	test: 0.7128265	best: 0.7128265 (330)	total: 37.4s	remaining: 1m 15s
340:	test: 0.7131283	best: 0.7131283 (340)	total: 38.4s	remaining: 1m 14s
350:	test: 0.7134286	best: 0.7134286 (350)	total: 39.4s	remaining: 1m 12s
360:	test: 0.7137883	best: 0.7137883 (360)	total: 40.4s	remaining: 1m 11s
370:	test: 0.7142454	best: 0.7142454 (370)	total: 41.6s	remaining: 1m 10s
380:	test: 0.7145367	best: 0.7145367 (380)	total: 42.6s	remaining: 1m 9s
390:	test: 0.7149228	best: 0.7149228 (390)	total: 43.7s	remaining: 1m 8s
400:	test: 0.7152546	best: 0.7152546 (400)	total: 44.8s	remaining: 1m 6s
410:	test: 0.7156084	best: 0.7156084 (410)	total: 45.9s	remaining: 1m 5s
420:	test: 0.7159534	best: 0.7159534 (420)	total: 47s	remaining: 1m 4s
430:	test: 0.7161916	best: 0.7161916 (430)	total: 48.1s	remaining: 1m 3s
440:	test: 0.7164859	best: 0.7164859 (440)	total: 49s	remaining: 1m 2s
450:	test: 0.7168529	best: 0.7168529 (450)	total: 50s	remaining: 1m
460:	test: 0.7171089	best: 0.7171108 (459)	total: 51s	remaining: 59.7s
470:	test: 0.7174847	best: 0.7174847 (470)	total: 52.1s	remaining: 58.5s
480:	test: 0.7177680	best: 0.7177680 (480)	total: 53.2s	remaining: 57.4s
490:	test: 0.7181208	best: 0.7181208 (490)	total: 54.3s	remaining: 56.3s
500:	test: 0.7183620	best: 0.7183620 (500)	total: 55.3s	remaining: 55.1s
510:	test: 0.7186319	best: 0.7186375 (509)	total: 56.4s	remaining: 54s
520:	test: 0.7189379	best: 0.7189379 (520)	total: 57.5s	remaining: 52.9s
530:	test: 0.7191947	best: 0.7191947 (530)	total: 58.5s	remaining: 51.7s
540:	test: 0.7194172	best: 0.7194172 (540)	total: 59.6s	remaining: 50.5s
550:	test: 0.7197002	best: 0.7197002 (550)	total: 1m	remaining: 49.5s
560:	test: 0.7199874	best: 0.7199874 (560)	total: 1m 1s	remaining: 48.4s
570:	test: 0.7202131	best: 0.7202164 (569)	total: 1m 2s	remaining: 47.2s
580:	test: 0.7204412	best: 0.7204412 (580)	total: 1m 3s	remaining: 46s
590:	test: 0.7206003	best: 0.7206003 (590)	total: 1m 4s	remaining: 44.7s
600:	test: 0.7208109	best: 0.7208109 (600)	total: 1m 5s	remaining: 43.5s
610:	test: 0.7209471	best: 0.7209471 (610)	total: 1m 6s	remaining: 42.3s
620:	test: 0.7211494	best: 0.7211494 (620)	total: 1m 7s	remaining: 41.2s
630:	test: 0.7213839	best: 0.7213839 (630)	total: 1m 8s	remaining: 40.1s
640:	test: 0.7215077	best: 0.7215141 (639)	total: 1m 9s	remaining: 39.1s
650:	test: 0.7217168	best: 0.7217174 (649)	total: 1m 10s	remaining: 37.9s
660:	test: 0.7218891	best: 0.7218891 (660)	total: 1m 11s	remaining: 36.8s
670:	test: 0.7220509	best: 0.7220509 (670)	total: 1m 12s	remaining: 35.6s
680:	test: 0.7223060	best: 0.7223060 (680)	total: 1m 13s	remaining: 34.6s
690:	test: 0.7224734	best: 0.7224734 (690)	total: 1m 14s	remaining: 33.4s
700:	test: 0.7226341	best: 0.7226341 (700)	total: 1m 15s	remaining: 32.3s
710:	test: 0.7227208	best: 0.7227208 (710)	total: 1m 16s	remaining: 31.2s
720:	test: 0.7228226	best: 0.7228226 (720)	total: 1m 17s	remaining: 30s
730:	test: 0.7229759	best: 0.7229759 (730)	total: 1m 18s	remaining: 28.9s
740:	test: 0.7231578	best: 0.7231578 (740)	total: 1m 19s	remaining: 27.8s
750:	test: 0.7233197	best: 0.7233197 (749)	total: 1m 20s	remaining: 26.7s
760:	test: 0.7234175	best: 0.7234175 (760)	total: 1m 21s	remaining: 25.6s
770:	test: 0.7235766	best: 0.7235766 (770)	total: 1m 22s	remaining: 24.5s
780:	test: 0.7237614	best: 0.7237614 (780)	total: 1m 23s	remaining: 23.4s
790:	test: 0.7239127	best: 0.7239127 (790)	total: 1m 24s	remaining: 22.3s
800:	test: 0.7239906	best: 0.7239906 (800)	total: 1m 25s	remaining: 21.2s
810:	test: 0.7241139	best: 0.7241139 (810)	total: 1m 26s	remaining: 20.1s
820:	test: 0.7242261	best: 0.7242261 (820)	total: 1m 27s	remaining: 19s
830:	test: 0.7243956	best: 0.7243956 (830)	total: 1m 27s	remaining: 17.9s
840:	test: 0.7245099	best: 0.7245099 (840)	total: 1m 28s	remaining: 16.8s
850:	test: 0.7246301	best: 0.7246301 (850)	total: 1m 30s	remaining: 15.8s
860:	test: 0.7247719	best: 0.7247719 (860)	total: 1m 30s	remaining: 14.7s
870:	test: 0.7248759	best: 0.7248759 (870)	total: 1m 31s	remaining: 13.6s
880:	test: 0.7249731	best: 0.7249731 (880)	total: 1m 32s	remaining: 12.5s
890:	test: 0.7251017	best: 0.7251017 (890)	total: 1m 33s	remaining: 11.4s
900:	test: 0.7252537	best: 0.7252537 (900)	total: 1m 34s	remaining: 10.4s
910:	test: 0.7254433	best: 0.7254433 (910)	total: 1m 35s	remaining: 9.32s
920:	test: 0.7255419	best: 0.7255445 (917)	total: 1m 36s	remaining: 8.26s
930:	test: 0.7256811	best: 0.7256811 (930)	total: 1m 37s	remaining: 7.21s
940:	test: 0.7258469	best: 0.7258469 (940)	total: 1m 38s	remaining: 6.16s
950:	test: 0.7259485	best: 0.7259485 (950)	total: 1m 39s	remaining: 5.11s
960:	test: 0.7260399	best: 0.7260399 (960)	total: 1m 40s	remaining: 4.06s
970:	test: 0.7261538	best: 0.7261538 (970)	total: 1m 40s	remaining: 3.01s
980:	test: 0.7262788	best: 0.7262788 (980)	total: 1m 41s	remaining: 1.97s
990:	test: 0.7263671	best: 0.7263671 (990)	total: 1m 42s	remaining: 934ms
999:	test: 0.7264956	best: 0.7264956 (999)	total: 1m 43s	remaining: 0us

bestTest = 0.7264955712
bestIteration = 999

In [83]:
y_pred_valid = model.predict_proba(x_valid)[:, 1]
roc_auc_score(y_valid, y_pred_valid)

0.723181923431726

In [89]:
def fit_catBoost(X, categorical):
    
    x_train, x_valid = train_test_split(X, train_size=0.7, random_state=27, shuffle=True)
    y_train, y_valid = train_test_split(X["TARGET"], train_size=0.7, random_state=27, shuffle=True)
    cb_params_1000 = {
    "n_estimators": 1000,
    "learning_rate": 0.01,
    "loss_function": "Logloss",
    "eval_metric": "AUC",
    "task_type": "CPU",
    "max_bin": 20,
    "verbose": 10,
    "max_depth": 6,
    "l2_leaf_reg": 100,
    "early_stopping_rounds": 50,
    "thread_count": 6,
    "random_seed": 27
    }

    eval_set = [(x_train, y_train)]
    model = cb.CatBoostClassifier(**cb_params_1000)
    model.fit(X=x_train, y=y_train, eval_set=eval_set, cat_features=categorical)
    return model

In [90]:
def prepare_data(X, categorical, to_drop):
    """
    Преобразование данных для передачи в модель.

    Parameters
    ----------
    X: pandas.core.frame.DataFrame
        Матрица признаков для передачи в модель.

    categorical: List[str]
        Список с названием категориальных признаков.

    drop_features: List[str]
        Список с названием признаков, которые не должны
        участвовать в обучении.

    Returns
    -------
    X_transformed: pandas.core.frame.DataFrame
        Матрица признаков, подготовленная для передачи в модель.

    """
    data = pd.merge(X, client_profile, on='APPLICATION_NUMBER', how='left')
    
    aggs = {
    "AMT_APPLICATION": [np.mean, np.std, np.sum, "max"],
    "AMOUNT_ANNUITY": [np.mean, np.std, np.sum, "max"],
    "AMOUNT_CREDIT": [np.mean, np.std, np.sum, "max"],
    "AMOUNT_PAYMENT": [np.mean, np.std, np.sum, "max"],
    "AMOUNT_GOODS_PAYMENT": [np.mean, np.std, np.sum, "max"],
    "DAYS_FIRST_DRAWING": [np.mean, np.std, np.sum, "max"],
    "DAYS_DECISION": [np.mean, np.std, np.sum, "max"],
    "DAYS_FIRST_DUE": [np.mean, np.std, np.sum, "max"],
    "DAYS_LAST_DUE_1ST_VERSION": [np.mean, np.std, np.sum, "max"],
    "DAYS_TERMINATION": [np.mean, np.std, np.sum, "max"],
    "DAYS_FIRST_DUE": [np.mean, np.std, np.sum, "max"],
    "NFLAG_INSURED_ON_APPROVAL": [np.mean, np.std, np.sum, "max"],
    "CNT_PAYMENT": [np.mean]
    }

    stats = create_numerical_aggs(history, groupby_id="APPLICATION_NUMBER", aggs=aggs, prefix="history_")

    data = pd.merge(data, stats, on='APPLICATION_NUMBER', how='left')
    
    to_drop = set(X.columns) & set(to_drop)

    if to_drop:
        data = data.drop(to_drop, axis=1)

    data[categorical] = data[categorical].astype(str)
    
    return data

In [91]:
def features_selection(X, categorical):
    data = X

    
    model = fit_catBoost(data, categorical)
    
    perm_importance = calculate_permutation_importance(estimator=model, metric=roc_auc_score, x_valid=x_valid, y_valid=y_valid)
    colums_perm_importance = list(perm_importance[perm_importance > 0].index)
    
    return colums_perm_importance

In [94]:
#для теста
data = prepare_data(train, categorical, to_drop)
categorical = data.select_dtypes(include=["object"]).columns.tolist()
data_test = prepare_data(test, categorical, to_drop)
categorical = data.select_dtypes(include=["object"]).columns.tolist()
cols = features_selection(train, categorical)
data = data[cols]
categorical = data.select_dtypes(include=["object"]).columns.tolist()

model = fit_catBoost(data, categorical)
y_pred_test = model.predict_proba(data_test)[:, 1]
sample_submission = pd.DataFrame()
sample_submission["APPLICATION_NUMBER"] = app_nums
sample_submission["TARGET"] = y_pred_test
sample_submission.info()
sample_submission.to_csv('sample_submission.csv', index=False)

ValueError: 'GENDER' is not in list